/* Stingray by Penguini3

@define-color destructive_bg_color #ffb4ab;
@define-color destructive_fg_color #690005;
/* Follow material spec */
@define-color error_bg_color #ffb4ab;
@define-color error_fg_color #690005;
/* Follow material spec (also I think looks nicer) */
@define-color accent_fg_color #e20340;
@define-color accent_bg_color #1f1a2d;
/* Use surface instead of background */
@define-color window_bg_color #0e091d;
@define-color window_fg_color #14b4b4;
/* Make it more similar to Adwaita */
@define-color view_bg_color #1f1a2d;
@define-color view_fg_color #14b4b4;
@define-color headerbar_bg_color #1f1a2d;
@define-color headerbar_fg_color #e20340;
@define-color sidebar_bg_color #0e091d;
@define-color sidebar_fg_color #14b4b4;
/* There is only like one application I know that uses this, and there isn't a good way to get
a color between surface and surface container so I think just giving this surface is a good enough fallback*/
@define-color secondary_sidebar_bg_color #1f1a2d;
@define-color secondary_sidebar_fg_color #e20340;
@define-color card_bg_color #1f1a2d;
@define-color card_fg_color #14b4b4;
@define-color overview_bg_color #1f1a2d;
@define-color overview_fg_color #14b4b4;
@define-color popover_bg_color #1f1a2d;
@define-color popover_fg_color #14b4b4;
@define-color dialog_bg_color #1f1a2d;
@define-color dialog_fg_color #14b4b4;
